{% extends 'vuelos/base.html' %} 
{% block title %} {{title}} {% endblock %} 
{% block header_title %} {{subtitle}} {% endblock %} 
{% block content %} 
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Vuelos</title>
</head>
<body>
    <h1>Lista de Vuelos</h1>

    {% if flights %}
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Precio</th>
            </tr>
            {% for flight in flights %}
            <tr>
                <td>{{ flight.id }}</td>
                
                {% if flight.type == 'INT' %}
                    <td class="card-text" style="font-weight: bold;">{{ flight.name }}</td>
                {% else %}
                    <td class="card-text">{{ flight.name }}</td>
                {% endif %}

                <td>{{ flight.type }}</td>

                {% if flight.type == 'NAC' %}
                    <td class="card-text" style="color: blue;">{{ flight.price }}</td>
                {% else %}
                    <td class="card-text">{{ flight.price }}</td>
                {% endif %}
                
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No hay vuelos registrados.</p>
    {% endif %}

    <a href="{% url 'home' %}">Volver al inicio</a>
</body>
</html> 
{% endblock %}